name: Build nightly

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'

env:
  ROOT_DIR: ${{ github.workspace }}

jobs:
  nightly:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout streamlink-portable scripts
        uses: actions/checkout@v2
      # check out a specific streamlink tag
      - name: Check out streamlink ${{ steps.streamlink_tag.outputs.VERSION }}
        uses: actions/checkout@v2
        with:
          repository: streamlink/streamlink
          path: streamlink
          fetch-depth: 300

      - name: Grab the latest tags for streamlink
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
        working-directory: streamlink

      - uses: actions/setup-python@v1
        name: Setup Python
        with:
          python-version: 3.7

      - name: Install dependencies
        run: pip install -U wheel pip

      - name: Build win32 package (Python 3.6)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.6.8
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.6)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.6.8
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Build win32 package (Python 3.7)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.7.9
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.7)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.7.9
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Build win32 package (Python 3.8)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.8.10
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.8)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.8.10
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Build win32 package (Python 3.9)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.9.7
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.9)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.9.7
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Create/update latest release
        if: github.ref == 'refs/heads/master'
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Nightly Build"
          files: |
            dist/streamlink-portable*.zip
