name: Build new release

on:
  push:
    branches:
      - master
  schedule:
    - cron:  '0 0 * * *'

env:
  ROOT_DIR: ${{ github.workspace }}

jobs:
  stable:
    runs-on: ubuntu-latest
    steps:
      - name: Find most recent releases
        id: releases
        uses: actions/github-script@0.9.0
        with:
          script: |
            const streamlink_tag_name = await github.repos.listReleases({owner: "streamlink", repo: "streamlink"}).then(releases => releases.data.filter(r => !r.prerelease)[0].tag_name)
            const portable_tag_name = await github.repos.listReleases({owner: context.repo.owner, repo: context.repo.repo}).then(releases => releases.data.filter(r => !r.prerelease)[0].tag_name)
            const result = {streamlink: streamlink_tag_name, portable: portable_tag_name};
            console.log(result);
            return result;

      - name: Set version variables
        id: versions
        run: |
          echo ::set-output name=streamlink_tag::$(echo $json_var | jq -r '.streamlink')
          echo ::set-output name=streamlink_portable_tag::$(echo $json_var | jq -r '.portable')
        env:
          json_var: ${{ steps.releases.outputs.result }}

      - name: Checkout streamlink-portable scripts
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        uses: actions/checkout@v2

      # check out a specific streamlink tag
      - name: Check out streamlink ${{ steps.versions.outputs.streamlink_tag }}
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        uses: actions/checkout@v2
        with:
          repository: streamlink/streamlink
          path: streamlink
          ref: ${{ steps.versions.outputs.streamlink_tag }}

      - uses: actions/setup-python@v1
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        name: Setup Python
        with:
          python-version: 3.6

      - name: Install dependencies
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: pip install -U wheel pip

      - name: Build win32 package (Python 3.6)
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.6.8
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.6)
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.6.8
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Build win32 package (Python 3.7)
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.7.9
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.7)
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.7.9
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Build win32 package (Python 3.8)
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.8.10
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.8)
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.8.10
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Build win32 package (Python 3.9)
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.9.7
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.9)
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.9.7
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Build win32 package (Python 3.10)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.10.0
          STREAMLINK_PYTHON_ARCH: win32

      - name: Build amd64 package (Python 3.10)
        run: bash ./scripts/makeportable.sh
        env:
          STREAMLINK_PYTHON_VERSION: 3.10.0
          STREAMLINK_PYTHON_ARCH: amd64

      - name: Create release ${{ steps.versions.outputs.streamlink_tag }}
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.versions.outputs.streamlink_tag }}
          release_name: Streamlink Portable ${{ steps.versions.outputs.streamlink_tag }}
          draft: false
          prerelease: false

      - name: Upload release artifacts
        if: steps.versions.outputs.streamlink_tag != steps.versions.outputs.streamlink_portable_tag
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/streamlink-portable*.zip
          tag: ${{ steps.versions.outputs.streamlink_tag }}
          overwrite: true
          file_glob: true
